node_modules/
dist/
.env
*.db
*.db-wal
*.db-shm
data-generator/output/citizens_100k.ndjson
data-generator/output/citizens_100k.parquet

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.secret
